<%= form_for @recipe do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <h3>Ingredients</h3>
  <%= f.fields_for :ingredients do |ing| %>
    <%= ing.label :name %>
    <%= ing.text_field :name %><br>
 
    <%= ing.label :quantity %>
    <%= ing.text_field :quantity %><br><br>
  <% end %>

 <%= f.submit %>
<% end %>